/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f7f7f7;
}

.container {
    width: 90%;
    margin: 20px auto;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

h1 {
    margin-bottom: 20px;
}

#logoutBtn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

/* Image Gallery */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.image-container {
    position: relative;
    margin: 10px;
}

.uploaded-image {
    display: block;
    max-width: 100%;
    border-radius: 5px;
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    z-index: 10;
}

.overlay {
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
}

/* Logbook Entries */
.logbook-entries p {
    background: #f4f4f4;
    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 0.5rem;
}

